__pycache__

# Build directories
_build/
build/

# User-specific CMake presets
CMakeUserPresets.json

# Miscellanous tools
.cline_storage/

# claude tmp files
.nfs*

# claude settings etc.
.claude/*

# clangd cache
**/.cache/clangd/*