{% extends "common/base.cpp.jinja2" %}

{% block benchmarking_include %}
    {% if value_type %}
        #include "benchmark_device_segmented_radix_sort_pairs.hpp"
    {% else %}
        #include "benchmark_device_segmented_radix_sort_keys.hpp"
    {% endif %}
{% endblock %}

{% block config_constructor -%}
    rocprim::segmented_radix_sort_config<
        {{ config.radix_bits }},
        rocprim::kernel_config<{{ config.block_size_x }}, {{ config.ipt }}>,
        rocprim::WarpSortConfig<{{ config.warp_small_lws }},
                                {{ config.warp_small_ipt }},
                                {{ config.warp_small_bs }},
                                {{ config.warp_partition }},
                                {{ config.warp_medium_lws }},
                                {{ config.warp_medium_ipt }},
                                {{ config.warp_medium_bs }}>,
        true
    >
{%- endblock %}
{% block benchmark_type %}
    {% if value_type %}
        using benchmark_type = device_segmented_radix_sort_pairs_benchmark<key_type, value_type, config>;
    {% else %}
        using benchmark_type = device_segmented_radix_sort_keys_benchmark<key_type, config>;
    {% endif %}
{% endblock %}

{% block type_definitions %}
    using key_type = {{ key_type }};
    {% if value_type %}
        using value_type = {{ value_type }};
    {% else %}
        using value_type = rocprim::empty_type;
    {% endif %}
{% endblock %}

{% block primbench_executor %}
    auto executor = primbench::executor(1, args, settings, primbench::flags::sync);
{% endblock %}

{% block benchmark_queue %}
    executor.queue<benchmark_type>({{ config.segment_count }}, {{ config.segment_length }});
{% endblock %}
